@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    font-family: Poppins, sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.bg-blur{
    background-color: #ffffffa6!important;
}

.navbar{
    transition: .3s all ease-in-out;
    .nav-pills {
        .nav-link{
            color: #000000;
            font-size: 18px;
            padding: 1rem 1.5rem;
            transition: .3s all ease-in-out;

            &:hover{
                color: #ff7b30;
                text-shadow: 0px 5px 10px #00000040;
            }
        }

        .nav-link.active{
            color: #16A180;
            background-color: transparent;
        }

        .nav-item.CTA{
            background-color: #16A180;
            border-radius: 35px;
            transition: .3s all ease-in-out;
            .nav-link{
                color: #f3f3f3;
                font-weight: 400;
            }

            &:hover{
                background-color: #ffffff;

                .nav-link{
                    color: #000000;
                    font-weight: 400;
                }
            }
        }
    }
}

#Home{
    height: 100vh;
    background-image: url("../img/Plumbing_services_in_brampton_mississauga_oakville_area.jpg");
    background-size: cover;

    .container{
        height: 100%;
        .row{
            height: 100%;

            h1{
                font-size: 48px;
                font-weight: 800;
                color: #16A180;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: black;

                a{
                    .pointer{
                        transform: translateY(15px);
                        transition: .3s all ease-in-out;
                    }

                    &:hover{
                        .pointer{
                            transform: translateY(00px);
                        }
                    }
                }
            }
        }
    }
}

#WhyUs{

    .container{
        height: 100%;
        .row{
            padding: 5rem 1rem;
            height: 100%;
            justify-content: center;

            h2{
                text-align: center;
                font-size: 48px;
                font-weight: 800;
                margin-bottom: 2rem;
            }

            .col-12{
                .row{
                    padding: 2rem 1rem;

                    h3{
                        font-size: 36px;
                        font-weight: 800;
                    }

                    p{
                        font-weight: 400;
                        text-align: justify;
                    }
                }
            }
        }
    }
}

#Banner{
    background-color: #F3F3F3;
    padding: 4rem 0;
    .container{
        height: 100%;
        .row{
            height: 100%;
            .col-12{
                display: flex;
                justify-content: flex-start;
                align-items: center;

                h2{
                    color: #16A180;
                    font-size: 48px;
                    strong{
                        font-weight: 900;
                    }
                }
            }
        }
    }
}

#AboutUs{
    background-color: #D9D9D9;
    padding: 5rem 0 0 0;
    .container{
        height: 100%;
        .row{
            height: 100%;
            .col-12{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-flow: column;
                h2{
                    font-size: 32px;
                    font-weight: 900;
                    color: #2B2B2B;
                }

                img{
                    margin-bottom: -5rem;
                }
            }
        }
    }
}

#Order{
    background-color: #F3F3F3;
    padding: 5rem 0 8rem;
    .container{
        .row{
            h2{
                color: #16A180;
                font-size: 32px;
                font-weight: 900;
                text-align: center;
                margin-bottom: 5rem;
            }

            .nav{
                border: none;
                .nav-item{
                    .nav-link{
                        font-size: 32px;
                        color: #616161;
                        height: 128px;
                        border-radius: 25px;
                        background-color: #ffffff;
                        border: none;
                        margin-bottom: 1rem;

                        mark{
                            background-color: transparent;
                            color: #16A180;
                            padding: 0;
                        }
                    }

                    .nav-link.active{
                        border: 3px solid #16A180;
                        color: #16A180;
                    }
                }
            }

            .tab-content{
                padding: 2rem;
                h3{
                    font-size: 32px;
                    font-weight: 800;
                }

                p{
                   font-size: 16px; 
                   color: #616161;
                }
            }
        }
    }
}

#ContactUs{
    height: 100vh;
}