@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    font-family: Poppins, sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.navbar{
    .nav-pills {
        .nav-link{
            color: #000000;
            font-size: 18px;
            padding: 1rem 1.5rem;
        }

        .nav-link.active{
            color: #16A180;
            background-color: transparent;
        }

        .nav-item.CTA{
            background-color: #16A180;
            border-radius: 25px;
            .nav-link{
                color: #f3f3f3;
                font-weight: 400;
            }
        }
    }
}

#Home{
    height: 100vh;
    background-image: url("../img/Plumbing_services_in_brampton_mississauga_oakville_area.jpg");
    background-size: cover;

    .container{
        height: 100%;
        .row{
            height: 100%;

            h1{
                font-size: 48px;
                font-weight: 800;
                color: #16A180;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: black;
            }
        }
    }
}

#AboutUs{
    height: 100vh;
}

#ContactUs{
    height: 100vh;
}