@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.bg-blur {
  background-color: rgba(255, 255, 255, 0.6509803922) !important;
}

.navbar {
  transition: 0.3s all ease-in-out;
}
.navbar .nav-pills .nav-link {
  color: #000000;
  font-size: 18px;
  padding: 1rem 1.5rem;
  transition: 0.3s all ease-in-out;
}
.navbar .nav-pills .nav-link:hover {
  color: #01BAEF;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2509803922);
}
.navbar .nav-pills .nav-link.active {
  color: #01BAEF;
  background-color: transparent;
}
.navbar .nav-pills .nav-item.CTA {
  background-color: #01BAEF;
  border-radius: 0px;
  transition: 0.3s all ease-in-out;
}
.navbar .nav-pills .nav-item.CTA .nav-link {
  color: #f3f3f3;
  font-weight: 400;
}
.navbar .nav-pills .nav-item.CTA:hover {
  background-color: #ffffff;
}
.navbar .nav-pills .nav-item.CTA:hover .nav-link {
  color: #000000;
  font-weight: 400;
}

#Home {
  height: 100vh;
  background-image: url("../img/HVAC_services_in_brampton_mississauga_oakville_area.jpg");
  background-size: cover;
}
#Home .container {
  height: 100%;
}
#Home .container .row {
  height: 100%;
}
#Home .container .row h1 {
  margin-top: 5rem;
  font-size: 48px;
  font-weight: 800;
  color: #01BAEF;
}
#Home .container .row h1 a {
  margin-top: 5rem;
}
#Home .container .row h1 a .pointer {
  transform: translateY(15px);
  transition: 0.3s all ease-in-out;
}
#Home .container .row h1 a:hover .pointer {
  transform: translateY(0px);
}

#WhyUs .container {
  height: 100%;
}
#WhyUs .container .row {
  padding: 5rem 1rem;
  height: 100%;
  justify-content: center;
}
#WhyUs .container .row h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 2rem;
}
#WhyUs .container .row .col-12 .row {
  padding: 2rem 1rem;
}
#WhyUs .container .row .col-12 .row h3 {
  font-size: 36px;
  font-weight: 800;
}
#WhyUs .container .row .col-12 .row p {
  font-weight: 400;
  text-align: justify;
}

#Banner {
  background-color: #F3F3F3;
  padding: 4rem 0;
}
#Banner .container {
  height: 100%;
}
#Banner .container .row {
  height: 100%;
}
#Banner .container .row .col-12 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#Banner .container .row .col-12 h2 {
  color: #01BAEF;
  font-size: 48px;
}
#Banner .container .row .col-12 h2 strong {
  font-weight: 900;
}

#AboutUs {
  background-color: #D9D9D9;
  padding: 5rem 0 0 0;
}
#AboutUs .container {
  height: 100%;
}
#AboutUs .container .row {
  height: 100%;
}
#AboutUs .container .row .col-12 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
}
#AboutUs .container .row .col-12 h2 {
  font-size: 32px;
  font-weight: 900;
  color: #2B2B2B;
}
#AboutUs .container .row .col-12 img {
  margin-bottom: -5rem;
}

#Order {
  background-color: #F3F3F3;
  padding: 5rem 0 8rem;
}
#Order .container .row h2 {
  color: #01BAEF;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 5rem;
}
#Order .container .row .nav {
  border: none;
}
#Order .container .row .nav .nav-item .nav-link {
  font-size: 32px;
  color: #616161;
  height: 128px;
  border-radius: 25px;
  background-color: #ffffff;
  border: none;
  margin-bottom: 1rem;
}
#Order .container .row .nav .nav-item .nav-link img {
  width: 70px;
}
#Order .container .row .nav .nav-item .nav-link mark {
  background-color: transparent;
  color: #01BAEF;
  padding: 0;
}
#Order .container .row .nav .nav-item .nav-link.active {
  border: 3px solid #01BAEF;
  color: #01BAEF;
}
#Order .container .row .tab-content {
  padding: 2rem;
}
#Order .container .row .tab-content h3 {
  font-size: 32px;
  font-weight: 800;
}
#Order .container .row .tab-content p {
  font-size: 16px;
  color: #616161;
}

#ContactUs {
  background-color: #01BAEF;
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#ContactUs img {
  margin-bottom: 2rem;
}
#ContactUs h4 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}
#ContactUs a {
  font-size: 45px;
  color: #ffffff;
  text-decoration: none;
}

footer {
  background-color: #616161;
  text-align: center;
  padding: 0.5rem;
}
footer p {
  margin-bottom: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
}

.feedback .feedbackCanvas {
  font-size: 40px;
  font-weight: 500;
  background-color: #01BAEF;
  border-color: #01BAEF;
  border: 1px solid #ffffff;
  border-left: 0;
  padding: 0.5rem 3rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: fixed;
  top: 35%;
  left: 0;
  width: 0px;
  height: 300px;
}
.feedback .feedbackCanvas span {
  transform: rotate(90deg);
  display: block;
}
.feedback .offcanvas-body {
  padding: 1rem;
}
.feedback .offcanvas-body h4 {
  font-size: 36px;
  font-weight: 700;
}
.feedback .offcanvas-body p {
  text-align: justify;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .feedback {
    display: none;
  }
  .navbar {
    transition: 0.3s all ease-in-out;
  }
  .navbar .nav-pills {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }
  #Home {
    height: 100vh;
    background-image: url("../img/Electrician_services_in_brampton_mississauga_oakville_area.jpg");
    background-size: cover;
    background-position: right center;
  }
  #Home .container {
    height: 100%;
  }
  #Home .container .row {
    height: 100%;
  }
  #Home .container .row h1 {
    font-size: 20px;
    font-weight: 800;
    color: #01BAEF;
  }
  #Home .container .row h1 a svg {
    width: 100%;
  }
  #WhyUs .container {
    height: 100%;
  }
  #WhyUs .container .row {
    padding: 1rem 1rem;
    height: 100%;
    justify-content: center;
  }
  #WhyUs .container .row h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 2rem;
  }
  #WhyUs .container .row .col-12 .row {
    padding: 1rem;
  }
  #WhyUs .container .row .col-12 .row h3 {
    font-size: 20px;
    font-weight: 800;
  }
  #WhyUs .container .row .col-12 .row p {
    font-weight: 400;
    text-align: justify;
  }
  #WhyUs .container .row .col-12 .row svg {
    width: 100%;
  }
  #AboutUs {
    background-color: #D9D9D9;
    padding: 5rem 0 0 0;
  }
  #AboutUs .container {
    height: 100%;
  }
  #AboutUs .container .row {
    height: 100%;
  }
  #AboutUs .container .row .col-12 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
  }
  #AboutUs .container .row .col-12 h2 {
    margin-top: 5rem;
    font-size: 32px;
    font-weight: 900;
    color: #2B2B2B;
  }
  #AboutUs .container .row .col-12 img {
    margin-bottom: -5rem;
  }
  #ContactUs {
    background-color: #01BAEF;
    padding: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #ContactUs img {
    margin-bottom: 2rem;
  }
  #ContactUs h4 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
  }
  #ContactUs a {
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
  }
}/*# sourceMappingURL=mian.css.map */